@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    margin: 0;
}
.mainST {
    padding: 2%;
}

.navDecoration {
    height: 10vh;
    margin: -1vh;
}

.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    background-color: #7c695b;
    height: 15vh;
    font-size: 1.7rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    background: linear-gradient(to top,#7c695b,#453931);
}
.navbar-brand  {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-shadow: 13px 13px 13px black;
    color: #f8f7f4 !important;
}


.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link {
     color: #f8f7f4 !important;
    text-shadow: 13px 13px 13px black !important;
}

.sect1 {
    display: flex;
    padding: 20px;

    margin-top: 15vh;
    text-align: left;
}
.salonKrasy{
    font-size: 2rem !important;
}


.image1 {
    width: 45%;
}
.image1 img {
    width: 100%;
}
.info {
    width: 50%;
    padding: 25px;
    align-content: center;
}

.hloboke {
    color: #ddc1a7;
    font-family: Mea Culpa;
    font-size: 2.875rem;
}
.laminovanie {
    font-family: tinos;
    font-size: 4.06rem;
    color: #f8f7f4;
}
.paragaraf {
    color: #f8f7f4;
    font-size: 1.5rem;
    font-family: Funnel Sans;
}
.sect1 button {
    color: #ffffff;
    background-color: #000000;
    height: 38px;
    width: 200px;
    margin: 10px;
    font-size: 19px;
    transition: ease 0.2s;
    font-family: tinos;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 6px 4px #545454;
}
.sect1 button:hover {
    transform: scale(1.1);
}

.div2 {
    display: flex;

}
.div3 {
    display: flex;
}

.image3 {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    align-content: center;
}
.image3 img {
    width: 100%;
}
.image4 {
    width: 50%;
    border-radius: 4px;
}

.text2 {
    width: 50%;
    color: #f8f7f4;
    font-family: tinos;
    padding: 20px;
}

.text2 h3 {
    font-size: 2rem;
}

.text2 p {
    font-size: 1.2rem;
}

.footer {
    background-color: #7c695b;
    text-align: center;
    color: #f8f7f4;
    padding-top: 17px;
    padding-bottom: 1px;
}

.pOst {
    padding-top: 5px;
}
.foter {
    height: 23vh;
    display: flex;
    padding: 20px;
    background-color: #7c695b;
}
.footersection {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #f8f7f4;
}
.ulfhone {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.liFhone {
    padding-bottom: 0.625rem;
}

.ulquestion {
    width: 32%;
    padding: 10px;
    height: 100%;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.ulvidguki {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;

    color: #f8f7f4;
}
.lividguki {
    width: 100%;
    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
}

.aAbout {
    text-decoration: none;
    color: #f8f7f4;
}
.ULobociva{
     font-size: 1.3rem;
    font-weight: 500;
    list-style-image: url("/img/check_24dp_F8F7F4_FILL0_wght400_GRAD0_opsz24 (1).png");
    padding-left: 25px;
    color: #f8f7f4;
}
.liobocie{
     color: #f8f7f4;
}

.table
{
border-collapse: collapse;

}

.table td
{
background-color: #7c695b;

    border: 1px solid black;
}

.table th
{
    border: 1px solid black;
}

@media (max-width: 1000px) {
    .ULobociva{
        font-size: 2.5rem!important;
        font-weight: bold;
    }

    .sect1 {
        display: block;
        height: auto;
        margin-top: 5vh;
        padding: 20px;
        background: #9a8677;
    }
    .navbar > .container-fluid,
    .navbar > .container-lg,
    .navbar > .container-md,
    .navbar > .container-sm,
    .navbar > .container-xl,
    .navbar > .container-xxl {
        height: 5vh !important;
    }
    .image1 {
        width: 100%;
    }
    .info {
        width: 100%;
        padding: 25px;
        align-content: center;
    }
    .div2 {
        display: block;
    }
    .div3 {
        display: block;
    }
    .text2 {
        width: 100%;
        color: #f8f7f4;
        font-family: tinos;
        padding: 20px;
    }
    .image3 {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        align-content: center;
    }

    #navbarNav {
        background-color: #7c695b;
    }

    .navbar-collapse {
        background-color: #7b5d4d;
        padding: 1rem;
    }

    .navbar-nav .nav-link {
        font-size: 2rem;
    }

    .hloboke {
        font-size: 5.75rem;
    }
    .laminovanie {
        font-size: 8rem;
    }
    .paragaraf {
        font-size: 4rem;
    }

    .sect1 button {
        color: #ffffff;
        background-color: #000000;
        height: 140px;
        width: 500px;
        margin: 10px;
        font-size: 3rem;
        transition: ease 0.2s;
        font-family: tinos;
        font-weight: bold;
        border-radius: 4px;
        box-shadow: 6px 4px #545454;
    }
    .headSect2 h2 {
        font-size: 8rem;
    }

    .text2 h3 {
        font-size: 6rem;
    }

    .text2 p {
        font-size: 4rem;
    }
    .ulfhone {
        font-size: 2.2rem;
    }
    .ulquestion {
        font-size: 2.2rem;
    }
    svg {
        height: 60px;
        width: 60px;
        margin: 20px;
    }


    .salonKrasy {
        font-size: 3.3rem !important;
    }
}
