

@keyframes animation1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
main {
    animation: animation1 2s 1;

}







.sectionbrovy {
    display: flex;
    padding: 20px;
    margin-top: 15vh;
}


.sectkadernacivo {
    height: 80vh;
    display: block;
    margin-top: 15vh;
}
.divflex {
    display: flex;
}

.divopiskaderrnacivo {
    width: 50%;
    padding: 10px;
    align-content: center;
}
.divfhotokadernacivo {
    width: 50%;
    padding: 10px;
    text-align: center;
}
.divfhotokadernacivo img {
    width: 100%;
}
.kadernacivP {
    font-size: 1.5rem !important;
    font-family: tines;
    color: #f8f7f4;
}
.h1kadernacivo{
    text-align: center;
    color: #f8f7f4;
}
@media (max-width: 1000px) {
 
   
    svg {
        height: 60px;
        width: 60px;
        margin: 20px;
    }
 
    .sectkadernacivo {
        display: block;
        height: 75vh;
        margin-top: 5vh;
        padding: 20px;
        background: #9a8677;
    }
    .logo{
        width: 14vh;
        height: 18vh;
    }

  
}

.logo {
    height: 100%;
}
