body {
    margin: 0;
}
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    background-color: #7c695b;
    height: 15vh;
    font-size: 1.7rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    background: linear-gradient(to top, #7c695b, #453931);
}
.navbar-brand {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-shadow: 13px 13px 13px black;
}
.kontakty {
    display: flex;
    padding: 20px;
    margin-top: 15vh;
}

.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link {
    color: #ffffff !important;
    text-shadow: 13px 13px 13px black;
}
.salonKrasy {
    color: #ffffff !important;
    font-size: 2rem !important;
    height: 100%;
}
.kontakty {
    justify-content: center;
    display: grid;
}
.kontakty iframe {
    width: 100%;
    margin: 0 auto;
    height: 50vh;
}
.ULobociva {
    font-size: 1.3rem;
    font-weight: 500;
    list-style-type: none;

    padding-left: 35px;
    color: #f8f7f4;
    justify-content: center;
}
.liobocie {
    color: #f8f7f4;
}

.foter {
    height: 23vh;
    display: flex;
    padding: 20px;
    background-color: #7c695b;
}
.footersection {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #f8f7f4;
}
.ulfhone {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.liFhone {
    padding-bottom: 0.625rem;
}

.ulquestion {
    width: 32%;
    padding: 10px;
    height: 100%;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.ulvidguki {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;

    color: #f8f7f4;
}
.lividguki {
    width: 100%;
    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
}
.aAbout {
    text-decoration: none;
    color: #f8f7f4;
}
.uldiv {
    background-color: #6c523e;
    border-radius: 0 0 10px 10px;
    padding: 41px;
}
@media (max-width: 1000px) {
    .navbar > .container-fluid,
    .navbar > .container-lg,
    .navbar > .container-md,
    .navbar > .container-sm,
    .navbar > .container-xl,
    .navbar > .container-xxl {
        height: 8vh !important;
    }
    .navbar-toggler-icon {
        width: 5em!important;
        height: 5em!important;
         border: 2px solid white;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
    }
    .kontakty {
        display: grid;
        margin-top: 5vh;
        padding: 20px;
        align-content: stretch;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
    }
    .ulfhone {
        font-size: 2.2rem;
    }
    .ulquestion {
        font-size: 2.2rem;
    }
    svg {
        height: 60px;
        width: 60px;
        margin: 20px;
    }
    .kontakty iframe {
        width: 800px;
        height: 900px;
    }
    .ULobociva {
        font-size: 2.5rem !important;
        font-weight: bold;
        padding: 0;
        height: max-content;
    }
    .navbar-nav .nav-link{
        font-size: 3rem!important;
    }
    .navbar-nav
    {
        background-color: #7c695b;

    }
.logo{
        width: 14vh;
        height: 18vh;
    }
}

.logo {
        height: 100%;
    }
