@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@keyframes animation1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
main {
    animation: animation1 2s 1;

}

body {
    margin: 0;
}

.mainST {
    padding: 2%;
    background-size: cover;
    background-position: center;
}







.sect1 {
    display: flex;
    padding: 20px;
    margin-top: 15vh;
    text-align: left;
}

.image1 {
    width: 45%;
}
.image1 img {
    width: 100%;
}
.info {
    width: 50%;
    padding: 25px;
    align-content: center;
}

.table2 th {
    background-color: #4b3c32 !important;
    color: #ffffff !important;
    padding: 15px !important;
    border:none!important;
    border-bottom: 2px solid black !important;
}

.table2 td {
    background-color: #55483f !important;
    color: #ffffff !important;
    padding: 18px !important;
    border:none!important;
    border-bottom: 2px solid black !important;
}



.hloboke {
    color: #ddc1a7;
    font-size: 2.875rem;
}
.laminovanie {
    font-size: 4.06rem;
    color: #f8f7f4;
}
.paragaraf {
    color: #f8f7f4;
    font-size: 1.5rem;
}

.sect1 button:hover {
    transform: scale(1.1);
}

.div2 {
    display: flex;
}
.div3 {
    display: flex;
}

.image3 {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    align-content: center;
}
.image3 img {
    width: 100%;
}
.image4 {
    width: 50%;
    border-radius: 4px;
}

.text2 {
    width: 50%;
    color: #f8f7f4;
    padding: 20px;
}

.text2 h3 {
    font-size: 2rem;
}

.text2 p {
    font-size: 1.2rem;
}

.headSect2 {
    color: #f8f7f4;
    text-align: center;
    font-size: 2rem;
}



.pOst {
    padding-top: 5px;
}





.ULobociva {
    font-size: 1.3rem;
    font-weight: 500;
    list-style-image: url("/img/check_24dp_F8F7F4_FILL0_wght400_GRAD0_opsz24 (1).png");
    padding-left: 25px;
    color: #f8f7f4;
}
.liobocie {
    color: #f8f7f4;
}

@media (max-width: 1000px) {

.table2 {
    width: 85% !important;
    margin: 50px auto;
    font-size: 2.2rem !important;
    border:none!important;
    border-bottom: 2px solid black !important;
}

    .ULobociva {
        font-size: 2.5rem !important;
        font-weight: bold;
    }
    .sect1 {
        display: block;
        height: auto;
        margin-top: 5vh;
        padding: 20px;
    }
    .logo {
        width: 14vh;
        height: 18vh;
    }
    .table {
        font-size: 2.8rem !important;
    }
   

    #photo1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .image1 {
        width: 100%;
    }
    .info {
        width: 100%;
        padding: 25px;
        align-content: center;
    }
    .div2 {
        display: block;
    }
    .div3 {
        display: block;
    }
    .text2 {
        width: 100%;
        color: #f8f7f4;
        padding: 20px;
    }
    .image3 {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        align-content: center;
    }

   
    .hloboke {
        font-size: 5.75rem;
    }
    .laminovanie {
        font-size: 8rem;
    }
    .paragaraf {
        font-size: 4rem;
    }

    
    
    .headSect2 h2 {
        font-size: 8rem;
    }

    .text2 h3 {
        font-size: 6rem;
    }

    .text2 p {
        font-size: 4rem;
        
    }
 
    svg {
        height: 60px;
        width: 60px;
        margin: 20px;
    }

    
}

.logo {
    height: 100%;
}
