.footer {
    background-color: #7c695b;
    text-align: center;
    color: #f8f7f4;
    padding-top: 17px;
    padding-bottom: 1px;
}

.pOst {
    padding-top: 5px;
}
.foter {
    height: 23vh;
    display: flex;
    padding: 20px;
    background-color: #7c695b;
}
.footersection {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #f8f7f4;
}
.ulfhone {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.liFhone {
    padding-bottom: 0.625rem;
}

.ulquestion {
    width: 32%;
    padding: 10px;
    height: 100%;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.ulvidguki {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    color: #f8f7f4;
}
.lividguki {
    width: 100%;
    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
}

.aAbout {
    text-decoration: none;
    color: #f8f7f4;
}
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    background-color: #7c695b;
    height: 15vh;
    font-size: 1.7rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    background: linear-gradient(to top,#7c695b,#453931);
}
.navbar-brand {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-shadow: 13px 13px 13px black;
}


.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link {
    color: #ffffff !important;
    text-shadow: 13px 13px 13px black;
}
.salonKrasy {
    color: #ffffff !important;
    font-size: 2rem!important;
}

.sect1{
    display: flex;
    padding: 20px;
    margin-top: 15vh;
}

.photoDiv{
    width: 33%;
}

.photoDiv img{
    width: 100%;
}

.textDiv{
    width: 67%;
}

.h2korekcia{
    font-size: 6.5rem;
    color: #ffffff;
    text-align: center;
}

.hr {
    width: 50%;
    margin: 0 auto !important;
    color: #f8f7f4 !important;
    margin-top: 1vh !important;
    border: 2px solid !important;
}

.korekciaUl1{
    color: #ffffff;
    font-size: 1.8rem;
    margin-left: 2vh;
}

#textDiv2{

    padding-top: 7vh;
}

#textDiv2 li{
    margin-bottom: 2vh;
}

#photoDiv{
    width: 100%;
}

#photoDiv img{
    width: 100%;
}

#textDiv3{
    padding-top: 7vh;
}

#textDiv3 li{
    margin-bottom: 2vh;
}

#textDiv4{

    padding-top: 7vh;
}

#textDiv4 li{
    margin-bottom: 2vh;
}

#textDiv5 li{
    margin-bottom: 2vh;
}

#textDiv5{
    padding-top: 7vh;
}

@media (max-width: 1000px){
    .photoDiv{
        display: none;
    }

    .textDiv{
        width: 100%;
    }

    #textDiv5 h2{
        font-size: 5.5rem;
    }

    .textDiv li{
        font-size: 2.4rem;
    }

    .ulfhone {
        font-size: 2.2rem;
    }
    .ulquestion {
        font-size: 2.2rem;
    }
    svg {
        height: 60px;
        width: 60px;
        margin: 20px;
    }
}
