.footer {
    background-color: #7c695b;
    text-align: center;
    color: #f8f7f4;
    padding-top: 17px;
    padding-bottom: 1px;
}

.pOst {
    padding-top: 5px;
}
.foter {
    height: 23vh;
    display: flex;
    padding: 20px;
    background-color: #7c695b;
}
.footersection {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #f8f7f4;
}
.ulfhone {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.liFhone {
    padding-bottom: 0.625rem;
}

.ulquestion {
    width: 32%;
    padding: 10px;
    height: 100%;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.ulvidguki {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    color: #f8f7f4;
}
.lividguki {
    width: 100%;
    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
}

.aAbout {
    text-decoration: none;
    color: #f8f7f4;
}
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    background-color: #7c695b;
    height: 15vh;
    font-size: 1.7rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    background: linear-gradient(to top, #7c695b, #453931);
}
.navbar-brand {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-shadow: 13px 13px 13px black;
}

.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link {
    color: #ffffff !important;
    text-shadow: 13px 13px 13px black;
}
.salonKrasy {
    color: #ffffff !important;
    font-size: 2rem !important;
    height: 100%;
}

.sect1 {
    display: flex;
    padding: 20px;
}

.photoDiv {
    width: 33%;
}

.photoDiv img {
    width: 100%;
}

.textDiv {
    width: 67%;
    margin: 0 auto;
}

.textDivpos{
    width: 90%;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;

}
.h2korekcia {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}

.hr {
    width: 50%;
    margin: 0 auto !important;
    color: #f8f7f4 !important;
    margin-top: 1vh !important;
    border: 2px solid !important;
}

.korekciaUl1 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-left: 2vh;
}

#textDiv2 {
    padding-top: 7vh;
    margin: 0 auto;
}

#textDiv2 li {
    margin-bottom: 2vh;
}

#photoDiv {
    width: 100%;
}

#photoDiv img {
    width: 100%;
}

#textDiv3 {
    padding-top: 7vh;
    margin: 0 auto;
}

#textDiv3 li {
    margin-bottom: 2vh;
}

#textDiv4 {
    padding-top: 7vh;
    margin: 0 auto;
}

#textDiv4 li {
    margin-bottom: 2vh;
}

#textDiv5 li {
    margin-bottom: 2vh;
}

#textDiv5 {
    padding-top: 7vh;
    margin: 0 auto;
}

.tableKorekcia {
    border: 1px solid;
    color: aliceblue;
    font-size: large;
    margin: 0 auto;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.48);
}

.tableKorekcia th {
    border: 1px solid;
    background-color: #4b3c32;
    padding: 10px 46px;
}

.tableKorekcia td {
    border: 1px solid;
    background-color: #55483f;
    padding: 5px 46px;
}

.mainKorekcia {
    margin-top: 15vh;
}
.classA1 {
    color: #ffffff!important;
    background-color: #4b3c32;
    padding: 20px;
    font-size: 16px!important;
    transition: ease 0.2s;
    font-family: tinos;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 6px 4px #545454;
    margin-top: 1vh;
    margin: 15px;

}
.divtelphone{
    display: flex;
    flex-direction: column;
    text-align: center

}
.divtelphone h3{
    color: white;
}


@media (max-width: 1000px) {
    .navbar > .container-fluid,
    .navbar > .container-lg,
    .navbar > .container-md,
    .navbar > .container-sm,
    .navbar > .container-xl,
    .navbar > .container-xxl {
        height: 8vh !important;
    }
    .navbar-nav .nav-link {
        font-size: 3rem !important;
    }
    .navbar-toggler-icon {
        width: 5em !important;
        height: 5em !important;
        border: 4px solid white;
        border-radius: 0.5vh;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .textDiv {
        width: 100%;
    }

    .logo {
        width: 14vh;
        height: 18vh;
    }

    .ulfhone {
        font-size: 2.2rem;
    }
    .ulquestion {
        font-size: 2.2rem;
    }
    svg {
        height: 60px;
        width: 60px;
        margin: 20px;
    }
    .navbar-nav {
        background-color: #7c695b;
    }

    .tableKorekcia {
        font-size: 1.8rem;
    }
}

.logo {
    height: 100%;
}
