body {
    margin: 0 !important;
}

.row {
    margin-right: 0 !important;
}

#divPerman {
    background-image: url("/img/Dizajn-bez-nazvu-21.jpg");
}

#divKorekcia {
    background-image: url("https://www.bp-ba.sk/wp-content/uploads/2023/06/2.jpg");
}

#divLamino {
    background-image: url("https://www.bp-ba.sk/wp-content/uploads/2023/06/1-2.jpg");
}

#divDepilacio {
    background-image: url("https://www.bp-ba.sk/wp-content/uploads/2023/06/1-8.jpg");
}

#divKozmetika {
    background-image: url("https://www.bp-ba.sk/wp-content/uploads/2023/06/1-9.jpg");
}
#divKaderníctvo {
    background-image: url("https://duyn491kcolsw.cloudfront.net/files/11/117/117ufl.jpg?ph=7b1519ec8f");
}

.div1 {
    height: 41vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin: 7vh;
    transition: ease 0.2s;
    margin-left: 8vh;
    box-shadow: 12px 12px 25px;
}

.div1:hover {
    transform: scale(1.05);
}

.div1 h2 {
    height: 41vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    align-content: center;
    font-weight: 600;
    font-size: 46px;
}

.col-3 {
    padding: 0 !important;
}

.div1 h2 a {
    color: #ffffff;
    text-decoration: none;
}

.procedurH1 {
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px #000000;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 3rem;
}

.navDecoration {
    margin: -1vh;
}

.salonKrasy {
    font-size: 2rem !important;
    height: 100%;
}

.divDark {
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.21);
}

.footer {
    background-color: #7c695b;
    height: 12vh;
    color: #ffffff;
    align-content: center;
}

.postaH2 {
    text-align: center;
}

.kontaktyH2 {
    text-align: left;
}

.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    background-color: #7c695b;
    height: 15vh;
    font-size: 1.7rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    background: linear-gradient(to top, #7c695b, #453931);
}
.navbar-brand {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-shadow: 13px 13px 13px black;
    color: #f8f7f4 !important;
}
.section {
    margin-top: 15vh;
}

.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    z-index: 200;
}

.nav-link {
    color: #ffffff !important;
}

.foter {
    height: 23vh;
    display: flex;
    padding: 20px;
    background-color: #7c695b;
}
.footersection {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #f8f7f4;
}
.ulfhone {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.liFhone {
    padding-bottom: 0.625rem;
}

.ulquestion {
    width: 32%;
    padding: 10px;
    height: 100%;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.ulvidguki {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;

    color: #f8f7f4;
}
.lividguki {
    width: 100%;
    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
}

.aAbout {
    text-decoration: none;
    color: #f8f7f4;
}

@media (min-width: 1024px) {
    .div1 h2 {
        font-size: 2.5rem;
    }
    #divPerman {
        width: 22%;
        font-size: 2.3rem !important;
    }

    #divPerman h2 {
        font-size: 2.3rem !important;
    }

    #divKorekcia {
        width: 22%;
    }

    #divLamino {
        width: 22%;
    }

    #divDepilacio {
        width: 22%;
    }

    #divKozmetika {
        width: 22%;
    }
    #divKaderníctvo {
        width: 22%;
    }
}

@media (max-width: 1000px) {
    .section {
        display: block;
        height: auto;
        margin-top: 5vh;
        padding: 20px;
    }
    .navbar > .container-fluid,
    .navbar > .container-lg,
    .navbar > .container-md,
    .navbar > .container-sm,
    .navbar > .container-xl,
    .navbar > .container-xxl {
        height: 8vh !important;
    }

    #divPerman {
        width: 63%;
    }

    #divKorekcia {
        width: 63%;
    }

    #divLamino {
        width: 63%;
    }

    #divDepilacio {
        width: 63%;
    }

    #divKozmetika {
        width: 63%;
    }
    #divKaderníctvo {
        width: 63%;
    }

    #navbarNav {
        background-color: #7c695b;
    }

    .navbar-collapse {
        background-color: #7b5d4d;
        padding: 1rem;
    }

    .navbar-toggler-icon {
        width: 5em !important;
        height: 5em !important;
        border: 4px solid white;
        border-radius: 0.5vh;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .navbar-nav .nav-link {
        font-size: 3rem;
    }
    .ulfhone {
        font-size: 2.2rem;
    }
    .ulquestion {
        font-size: 2.2rem;
    }
    svg {
        height: 60px;
        width: 60px;
        margin: 20px;
    }
    .procedurH1 {
        width: 60%;
        font-size: 2.6rem;
    }
    .salonKrasy {
        font-size: 3.3rem !important;
    }
    .logo {
        width: 14vh;
        height: 18vh;
    }
}

.logo {
    height: 100%;
}
