@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
body
{
    margin: 0;
}
.sectionbrovy {
    display: flex;
    padding: 20px;
    background: #9a8677;
}
.fhotozbovamy {
    width: 45%;
    padding: 10px;
    height: auto;
}
.fhotozbovamy img {
    width: 100%;
}
.aboutbrovy {
    height: 100%;
    width: 53%;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
#formed {
    font-family: Mea Culpa;
    font-size: 2.875rem;
    color: #f8f7f4;
    margin: 0;
}
#brovy {
    font-family: tines;
    font-size: 4.06rem;
    margin: 0;
    color: #f8f7f4;
}
#pmakeup {
    font-family: tunnel sans;
    font-size: 1.5rem;
    color: #f8f7f4;
}
.zapisbutton {
    background-color: black;
    color: #f8f7f4;
    height: 38px;
    width: 200px;
    display: block;
    margin: 10px;
    font-size: 19px;
    font-weight: bold;
    transition: ease 0.2s;
    border-radius: 4px;
    font-family: tines;
}
.zapisbutton:hover {
    transform: scale(1.1);
}

.divfhotoobocive {
    width: 50%;
    padding: 10px;
}
.divfhotoobocive img {
    width: 100%;
}
.sectionobocive {
    padding: 20px;
    background-color: #9a8677;
}
.divopisobocive {
    width: 50%;
    padding: 10px;
}
.divflex {
    display: flex;
}
.h2korekcia {
    text-align: center;
    font-size: 1.8rem;
    color: #f8f7f4;
}
.obocivaP {
    font-size: 1.6rem;
    font-family: tines;
    color: #f8f7f4;
}
.ULobociva {
    font-size: 2.5rem;
    list-style-image: url("check_24dp_F8F7F4_FILL0_wght400_GRAD0_opsz24 (1).png");
    padding-left: 25px;
    color: #f8f7f4;
}

.divline {
    width: 70%;

    margin: auto;
}

.divline hr {
    border: none; /* Прибираємо стандартну рамку */
    border-top: 1px solid #f8f7f4; /* Додаємо верхню рамку товщиною 1px чорного кольору */
}

.liobocie {
    color: #f8f7f4;
}

.foter {
    height: 23vh;
    display: flex;
    padding: 20px;
    background-color: #7c695b;
}
.footersection {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #f8f7f4;
}
.ulfhone {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.liFhone {
    padding-bottom: 0.625rem;
}

.ulquestion {
    width: 32%;
    padding: 10px;
    height: 100%;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
.ulvidguki {
    width: 32%;
    height: 100%;
    padding: 10px;
    margin: 0;
    list-style-type: none;

    color: #f8f7f4;
}

.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    background-color: #7c695b;
    height: 15vh;
    font-size: 1.7rem;
}

.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.lividguki {
    width: 100%;
    padding-bottom: 0.45rem;
    padding-top: 0.45rem;
}

.aAbout {
    text-decoration: none;
    color: #f8f7f4;
}
@media (max-width: 1000px) {
    .sectionbrovy {
        display: block;

        padding: 20px;
        background: #9a8677;
    }
    .fhotozbovamy {
        width: 100%;
        padding: 0;
    }

    .zapisbutton {
        height: 140px;
        width: 500px;
        font-size: 3rem;
    }
    .aboutbrovy {
        width: 100%;
        padding: 0;
    }
    #pmakeup {
        font-size: 4rem;
    }
    #formed {
        font-family: Mea Culpa;
        font-size: 5.75rem;
        color: #f8f7f4;
        margin: 0;
    }
    #brovy {
        font-family: tines;
        font-size: 8.12rem;
        margin: 0;
        color: #f8f7f4;
    }

    .divopisobocive {
        width: 100%;
    }
    .divflex {
        display: block;
    }
    .divfhotoobocive {
        width: 100%;
        padding: 0;
    }
    .obocivaP {
        font-size: 4rem;
    }
    .h2korekcia {
        font-size: 6rem;
    }
    .zapisbutton:hover {
        transform: scale(1.1);
    }
    .ulfhone {
        font-size: 2.2rem;
    }
    .ulquestion {
        font-size: 2.2rem;
    }
    svg {   
        height: 60px;
        width: 60px;
    }
    
    #navbarNav {
        background-color: #7c695b;
    }
    
    .navbar-collapse {
        background-color: #7b5d4d;
        padding: 1rem;
    }
    
    .navbar-nav .nav-link {
        font-size: 2rem;
    }
}