@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
.sectionbrovy{
    display: flex;
    height: 90vh;
    padding: 20px;
}
.fhotozbrovamy{
    width: 45%;
    height: auto;

}
.fhotozbrovamy img{
    width: 100%;
    height: 50%;
}
.aboutbrovy{
    height: 100%;
    width: 53%;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

#formed{
    font-family: Mea Culpa;
    font-size: 46px;
    color: #c6965A;
    margin: 0;

}
#brovy{
    font-family: tines;
    font-size: 65px;
    margin: 0;

}

#pmakeup{
    font-family: tunnel sans;
    font-size: 24px;
}
.zapisbutton{
    background-color: black;
    color: white;
    height: 38px;
    width: 200px;
    display: block;
    margin: 10px;
    font-size: 19px;
    font-weight: bold;
    transition: ease 0.2s;
    border-radius: 4px;
    font-family: tines;


}
.zapisbutton:hover{
    transform: scale(1.1);
}
#zapisid{
    width: 100px;
}
.brovymake-up2section{
    height: 76vh;
    padding: 20px;
}
.h3make-up{
    text-align: center;



}
.div1pery{
    width: 50%;
}

.perydiv2fhoto{
    width: 50%;
    height: auto;


}

.perydiv2fhoto img{
    width: 50%;
    height: 50%;
}
.divflex{
display: flex;
}
